body{
    background-color: white;
    margin: 0px;
}
/* Name and About */
#landing{
    height: 100vh;
    background: #1c1d25;
    overflow: hidden;
   
}
.circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 5px;
    position: absolute;
    
}

.circle:nth-child(even){
    border: 1px solid rgba(255, 89, 0, 0.508);
    
}
.circle:nth-child(odd){
    border: 1px solid rgba(255, 213, 0, 0.508);

}


#header ul{
    list-style-type: none;
    padding-right: 25px;
    margin: 0px;
    overflow: hidden;
}
#header li{
    float: right;
    padding: 3%;
    margin: 2px;
    font-size: 20px;
    /* color: white; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.link1{
    text-decoration: none;
    color: white;
    
    
}
li .link1:hover{
    color: burlywood;
    font-size: 25px;
    border-bottom: 1px solid burlywood;
    border-radius: 4px;
    
    
    
}
#name {
    margin-top: 180px;
    display: flex;
    padding: 20px;
    justify-content: space-between;

}
#name1{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    padding-left: 10%;
}
#name1 h3{
    font-style: italic;
}
button{
   background: linear-gradient(rgb(255, 89, 0), rgba(255, 213, 0, 0.837)); 
   padding: 10px;
   color:white;
   font-size: 15px;
   word-spacing: 2px;
   font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}
#socials img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 5px;
}
#socials{
    display: flex;
    flex-direction: column;
    
}
/* end Name and about */
p{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
}
/* Skills */
.title{
    display: flex;
    justify-content: center;
}

#skills{
    height: auto;
    background-color:  #21222c;
    color: white;
    margin: 2%;
    padding: 5%;
    display: flex;
    justify-content: space-around;
    
   
}
#skills li{
    list-style-type: none;
    width: 90%;
    border-radius: 5px 20px;
    padding: 2%;
    margin: 7%;
}
#skills li li:nth-child(odd){
    border: 2px solid rgb(255, 89, 0);
}
#skills li li:nth-child(even){
    border: 2px solid rgba(255, 213, 0, 0.837) ;
}
#devops{
    display: flex;
}
#fullstack{
    display: flex;
}
#skills p{
    margin-top: 40%;
    padding-left: 15%;
    border: 1px solid black;
}
/* Projects */
#projects{
    background: #d5d6df4d;
    display: flex;
    /* flex-wrap: wrap; */

}
#projects a{
    text-decoration: none;
    color: black;
}
#projects a:hover{
    background-color: #21222c;
    color: white;
    border: 1px solid rgba(255, 213, 0, 0.837)
}
.projo{
    /* height: 40vh; */
    width:25%;
    border: 1px solid white;
    padding: 3%;
    margin: 5px;
    background-color: white;
}
/* .projo p{
    bottom: 0px;
} */
@media screen and (max-width: 600px) {
    #projects {
      flex-direction: column;
      overflow-y: auto;
      /* padding-top: 0px; */
    }
    .projo{
        width: 80%;
        margin: 5%;
    }
    
  }